<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.applunacrowdfunding">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/MaterialDrawerTheme.Light.DarkToolbar.ActionBar.TranslucentStatus">
        <activity android:name=".comentarios"></activity>
        <activity android:name=".iniciarSesion" />
        <activity android:name=".listarProp" />
        <activity android:name=".ver_propuesta" />
        <activity android:name=".registro" />
        <activity android:name=".traerProp" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>